@(currentPage: Page[models.facebook.FBPost], currentSortBy: String, currentOrder: String, currentFilter: String, currentProfileId: String, currentProfileName: String, profiles: List[models.facebook.profile.FBProfile])

@import org.joda.time.DateTime
@import helper.twitterBootstrap._
@import tags._

@link(newProfile:Int, newSortBy:String, newProfileName: String, prefFirstOrder:String) = @{

	var sortBy = currentSortBy
	var order = currentOrder
	var profileId = currentProfileId
	var profileName = currentProfileName

	if(newProfileName != null) {
		profileName = newProfileName
	}

	if(newSortBy != null) {
		sortBy = newSortBy
		order = ""
		if(currentSortBy == newSortBy) {
			if(currentOrder == "") {
				order = "-"
			} else {
				order = ""
			}
		} else {
			order = prefFirstOrder
		}
	}

	routes.FacebookController.fbPosts(newProfile, sortBy, order, currentFilter, profileId, profileName)
}

@actionButtons = {
	<form class="navbar-form" action="@routes.FacebookController.fetchPosts("", 0)">
		<input type="text" id="limit" name="limit" class="span1" pattern="[0-9]{1,4}" placeholder="Limit" required>
		<input type="text" id="pageName" name="pageName" class="span2" placeholder="Profile ID" required>
		<button type="submit" class="btn"><i class="icon-arrow-down"></i> Fetch Posts</a>
	</form>
}

@main(actionButtons) {

	@if(currentPage.totalRowCount == 0) {

		<div class="well">
			<em>Nothing to display</em>
		</div>

	} else {

		<div class="pull-left">
			@searchBox(currentFilter, link(1, "createdTime", null, ""))
		</div>

		<div class="pull-right">
			<div class="input-append dropdown combobox">
				<input class="span2" type="text" value="@if(currentProfileName == ""){Show all profiles}else{@currentProfileName}"><button class="btn" data-toggle="dropdown"><i class="caret"></i></button>
				<ul class="dropdown-menu">
					<li><a href="@routes.FacebookController.fbPosts(1, currentSortBy, currentOrder, currentFilter, "", "")">Show all profiles</a></li>
					@for(p <- profiles) {
						<li><a href="@routes.FacebookController.fbPosts(1, currentSortBy, currentOrder, currentFilter, p.id, p.name)">(@p.getType)@p.name</a></li>
					}
				</ul>
			</div>
		</div>

		<div class="clearfix">
			<table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						@header("createdTime", "Date", currentSortBy, currentOrder, link(1, "createdTime", null, "-"))
						@header("profile.name", "Profile Name", currentSortBy, currentOrder, link(1, "profile.name", null, "-"))
						@header("message", "Message", currentSortBy, currentOrder, link(1, "message", null, ""))
						@header("commentCount", "Comments", currentSortBy, currentOrder, link(1, "commentCount", null, "-"))
						@header("likeCount", "Likes", currentSortBy, currentOrder, link(1, "likeCount", null, "-"))
						@header("shareCount", "Shares", currentSortBy, currentOrder, link(1, "shareCount", null, "-"))
					</tr>
				</thead>
				<tbody>

					@for(post <- currentPage.list) {
						<tr>
							<td style="white-space: nowrap">
								@(new DateTime(post.createdTime).toString("HH:mm:ss dd/MM/yyyy"))
							</td>
							<td><a href="@post.profile.getLink" target="_blank">@post.profile.name</a></td>
							<td><a href="@post.getLink" target="_blank">@{if (post.message == null) "[NO MESSAGE]" else post.message}</a></td>
							<td>
								<a href="@routes.FacebookController.fbComments(0,"createdTime","", "", post.id)" title="Open comments of this post">@post.commentCount</a>
							</td>
							<td>@post.likeCount</td>
							<td>@post.shareCount</td>
						</tr>
					}
				</tbody>
			</table>
		</div>

		@pagination(currentPage, link(1, null, null, ""), link(currentPage.pageIndex - 1, null, null, ""), link(currentPage.pageIndex + 1, null, null, ""), link(0, null, null, ""))
	}
}